.Sidebar {
    position: fixed;
    z-index: 2;
    top: 61px;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #26262c;
    color: #fff;
}

.SidebarItem:hover {
    background-color: #fff;
    color: #26262c;
}